.button {
background-color: #4CAF50;
border: none;
border-radius: 5px;
width: 100%;
color: white;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
cursor: pointer;
}

.button1 {
background-color: black;
color: white;
border: 2px solid black;
}

.button1:hover {
background-color: white;
color: black;
}

.button2 {
background-color: white;
color: black;
border: 2px solid black;
}

.button2:hover {
background-color: black;
color: white;
}

.button3 {
background-color: #f44a56;
color: white;
border: 2px solid #f44a56;
}

.button3:hover {
background-color: white;
color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
color: black;
padding: 0 22px;
margin-top: 20px;
margin-bottom: 20px;
line-height: 40px;
border-radius: 30px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.hover-show-div {
position: absolute;
top: 20px;
right: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.big-slider {display: none;}
.small-slider {display: block;}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.small-slider {display: none;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.small-slider {display: none;}
} 


/* toast message */
.toast{
min-width: 250px;
min-height: 60px;
position: fixed;
/*top: 120px;*/
top: 150px;
right: -250px;
z-index: 1000;
}
.alert{
border-radius: 0px;
background-color: #fff;
padding: 15px;
}
.alert-success{
border-color: #5cb85c;
}
.alert-danger{
border-color: #d9534f;
}
.alert h4{
font-size: 24px;
}
.alert-dismissable .close{
right: 0px;
}

/* form */
.form-control{
color: #333;
border-color: #ccc;
background-color: #fff;
}
.form-control:focus{
color: #333;
border-color: #333;
background-color: #fff;
}

/* updates page */
.image-bg{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#image_preview{
display: none;
}
.image-updates .image-bg{
width: 150px;
height: 100px;
}
