body{
	font-family: "Raleway";
	font-size: 14px;
	color: #333;
}
header{
	height: 70px;
	background-color: #ccc;
}
footer{
	height: 70px;
	background-color: #000;
}
/* toast message */
.toast{
	min-width: 250px;
	min-height: 60px;
	position: fixed;
	top: 65px;
	right: -250px;
	z-index: 100;
}
.card{
	padding: 15px;
}

.btn-outline-danger{
	border-radius: 0px;
	border: 1px solid #d9534f;
	background-color: #fff;
	color: #d9534f;
}
.btn-outline-danger:hover{
	border-color: #ce2924;
	color: #ce2924;
}
.modal{
	top: 15%;
}
.modal-content{
	border-radius: 0px;
	/*border: 1px solid #000;*/
}/*
.modal-header{
    border-bottom-color: #000;
}
.modal-footer{
    border-top-color: #000;
}*/
.alert{
	border-radius: 0px;
	background-color: #fff;
}
.alert-success{
	border-color: #5cb85c;
}
.alert-danger{
	border-color: #d9534f;
}


.container{
	width: 80%;
}
.talent-page{
	padding-top: 50px;
	padding-bottom: 50px;
}
.image-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fit-content{
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

/* Talent Home */
.profile{
	position: relative;
	padding-top: 60px;
	padding-bottom: 20px;
}
.bg-talent{
	width: 100%;
	height: 200px;
	background-color: #eee;
	position: relative;
}
.bg-talent .image-bg,
.img-talent .image-bg{
	height: 100%;
}

.profile-edit{
	position: absolute;
	top: 7px;
	right: 0px;
}
.profile-edit a{
	padding: 10px 12px;
	background-color: #ffffffe6;
}
.profile-attribute span{
	padding-left: 5px;
	padding-right: 5px;
}
.label-colors .label{
	padding: 3px 8px;
	border-radius: 3px;
}
/* select every 5 elements start with 1st element */
.label-colors .label:nth-child(5n+1){
	background-color: #4CE414;	/*green*/
}
.label-colors .label:nth-child(5n+2){
	background-color: #039BE5;	/*blue*/
}
.label-colors .label:nth-child(5n+3){
	background-color: #D81B60;	/*pink*/
}
.label-colors .label:nth-child(5n+4){
	background-color: #FBC02D;	/*yellow*/
}
.label-colors .label:nth-child(5n+5){
	background-color: #5E35B1;	/*purple*/
}

.img-talent{
	width: 100px;
	height: 100px;
	/*border: 1px solid #fff;*/
	border-radius: 55px;
	background-color: #ccc;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	overflow: hidden;
}
.job-interest,
.content{
	padding-top: 20px;
	padding-bottom: 20px;
}
.contact-talent .fa:nth-child(n+2){
	margin-left: 15px;
}

.panel .table td{
	border: none;
}
.table .periode{
	width: 250px;
	color: #0080ff;
}
.table .action{
	width: 70px;
}
.table .action a:first-child{
	margin-right: 10px;
	position: relative;
	top: 1px;
}

p.text-danger{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Edit Profile */
#foto_sampul_preview,
#foto_profil_preview{
	display: none;
}
#foto_sampul_preview figure{
	width: 490px;
	height: 95px;
}
#foto_profil_preview figure{
	width: 100px;
	height: 100px;
	border-radius: 55px;
}





/* company profile */
.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.button1:hover {
  background-color: white;
  color: black;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button2:hover {
  background-color: black;
  color: white;

/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
		.big-slider {display: none;}
		.small-slider {display: block;}
	}
/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {
		.small-slider {display: none;}
	} 

/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
		.small-slider {display: none;}
	} 
}